<form
  class="container"
  fxLayout="column"
  fxLayoutAlign="center center"
  [formGroup]="registerActive ? registerForm : loginForm"
  (submit)="registerActive ? register() : loginWithEmailAndPassword()"
>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
    <mat-card>
      <mat-card-title class="title">Log in to Savings</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput type="email" name="email" autocomplete="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [autocomplete]="registerActive ? 'new-password' : 'current-password'"
            formControlName="password"
          />
        </mat-form-field>
        <mat-form-field *ngIf="registerActive">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" name="password-confirm" autocomplete="new-password" formControlName="passwordConfirm" />
        </mat-form-field>
        <button mat-button type="button" (click)="registerActive = !registerActive">
          <ng-container *ngIf="registerActive; else existingUser">
            I already have an account
          </ng-container>
          <ng-template #existingUser>
            I don't have an account
          </ng-template>
        </button>
      </mat-card-content>
    </mat-card>
    <button
      mat-raised-button
      type="submit"
      color="accent"
      [disabled]="registerActive ? registerForm.invalid : loginForm.invalid"
      class="action-button"
    >
      {{ registerActive ? 'Create Account' : 'Login' }}
    </button>
    <button mat-raised-button type="button" class="action-button" (click)="signInWithGoogle()">
      <mat-icon svgIcon="google" class="google-logo"></mat-icon>
      {{ registerActive ? 'Sign up' : 'Sign in' }} with Google
    </button>
  </div>
</form>
