.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-lighter-color);
}

.title {
  text-align: center;
}

.google-logo {
  margin-right: 8px;
}

.action-button {
  height: 40px;
}
