.content {
  height: 100vh;
  width: 100vw;
}

.toolbar {
  z-index: 2;
  position: relative;
}

.add-button {
  z-index: 1;
  position: fixed;
  bottom: 64px;
  right: 16px;
}

.page-outlet {
  overflow: auto;
}
