<sv-breadcrumbs
  *ngIf="crumbs$ | async as crumbs"
  [crumbs]="crumbs"
></sv-breadcrumbs>
<div class="content" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar class="toolbar mat-elevation-z6" color="primary">
    <mat-toolbar-row>
      <span>Savings</span>
      <span fxFlex="1 1 auto"></span>
      <button mat-icon-button type="button" routerLink="settings">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="page-outlet" fxFlex="1 1 auto" fxLayout="column">
    <router-outlet></router-outlet>
  </div>
</div>
