@import '~@angular/flex-layout/mq';

:host {
  display: block;
  padding: 16px;
  padding-top: 72px;

  @include layout-bp(gt-sm) {
    padding-top: 80px;
  }
}

.save-button {
  position: fixed;
  bottom: 64px;
  right: 16px;
}
