@import "~@angular/flex-layout/mq";

:host {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  overflow: hidden;
}

.contents {
  overflow-y: auto;
  padding: 16px;
}

.save-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
