<div class="crumbs" fxLayout="row" fxLayoutAlign="start center">
  <button
    mat-icon-button
    [routerLink]="overrideBackFunction || ['..']"
    type="button"
    class="fit-icon"
    *ngIf="crumbs.length > 1 || overrideBackFunction"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container *ngFor="let crumb of crumbs; let last = last">
    <span class="crumb" [routerLink]="crumb.path || []">{{ crumb.label }}</span>
    <mat-icon *ngIf="!last">chevron_right</mat-icon>
  </ng-container>
</div>
