/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-tab-group.fill-tab-header .mat-tab-labels > .mat-tab-label {
  flex: 1 1 auto;
}

mat-tab-group.fill-height {
  overflow: hidden;
  > .mat-tab-body-wrapper {
    flex: 1 1 auto;
  }
}
button.mat-icon-button,
a.mat-icon-button {
  &.fit-icon {
    width: 24px;
    height: 24px;
    line-height: normal;
    mat-icon {
      margin-top: -1px;
    }
  }
  &.small {
    width: 32px;
    height: 32px;
    line-height: 30px;
    mat-icon {
      transform: scale(0.8);
    }
  }
}
