<sv-breadcrumbs [crumbs]="[{ label: 'Settings' }]" [overrideBackFunction]="['../..', 'goals']" class="accent"></sv-breadcrumbs>
<div class="contents" fxFlex="1 1 auto" gdRows="min-content!" gdColumns="auto" gdColumns.gt-sm="1fr 2fr 1fr">
  <mat-action-list *ngIf="settings$ | async as settings" gdColumn.gt-sm="2">
    <h3 matSubheader>General Settings</h3>
    <button mat-list-item (click)="selectCurrency()">
      <mat-icon mat-list-icon>
        euro
      </mat-icon>
      <div mat-line>Currency</div>
      <div mat-line>{{ settings.currency.name }} ({{ settings.currency.code }})</div>
    </button>
  </mat-action-list>
</div>
